In [6]:
import os
import numpy as np 
import pandas as pd
os.getcwd()

'/Users/makenzie'

In [82]:
data = pd.read_csv("~/Desktop/dublinbikes_20180701_20181001.csv")
data = pd.DataFrame(data)
data.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,AVAILABLE BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,1,2018-08-01 12:30:02,2018-08-01 12:26:05,CLARENDON ROW,31,1,30,Open,Clarendon Row,53.340927,-6.262501
1,1,2018-08-01 12:35:02,2018-08-01 12:33:03,CLARENDON ROW,31,2,29,Open,Clarendon Row,53.340927,-6.262501
2,1,2018-08-01 12:40:02,2018-08-01 12:33:03,CLARENDON ROW,31,2,29,Open,Clarendon Row,53.340927,-6.262501
3,1,2018-08-01 12:45:02,2018-08-01 12:43:12,CLARENDON ROW,31,2,29,Open,Clarendon Row,53.340927,-6.262501
4,1,2018-08-01 12:50:02,2018-08-01 12:44:37,CLARENDON ROW,31,3,28,Open,Clarendon Row,53.340927,-6.262501

In [83]:
# Drop extra columns
data = data.drop(columns = ['LAST UPDATED', 'AVAILABLE BIKES','STATUS', 'ADDRESS', 'LATITUDE', 'LONGITUDE'])
# Select Stations
data = data[data["STATION ID"].isin([69, 75, 98])]
# Create Usage Variable by percentage of bikes NOT at the station
data["Usage"] = data["AVAILABLE BIKE STANDS"] / data['BIKE STANDS'] * 100
# Remove seconds and subset dataframe by whole hours
data['TIME'] = pd.to_datetime(data['TIME'])
data['TIME'] = data['TIME'].dt.strftime('%Y-%m-%d %H:%M')
data['TIME'] = pd.to_datetime(data['TIME'])
time = (data['TIME'].dt.minute == 0)

In [89]:
Newdata = data[time]
Newdata.head()

,STATION ID,TIME,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,Usage
9252,69,2018-08-01 13:00:00,GRAND CANAL DOCK,40,0,0.0
9264,69,2018-08-01 14:00:00,GRAND CANAL DOCK,40,0,0.0
9276,69,2018-08-01 15:00:00,GRAND CANAL DOCK,40,6,15.0
9288,69,2018-08-01 16:00:00,GRAND CANAL DOCK,40,14,35.0
9300,69,2018-08-01 17:00:00,GRAND CANAL DOCK,40,33,82.5

In [88]:
print(Newdata)

         STATION ID                TIME                    NAME  BIKE STANDS  \
9252             69 2018-08-01 13:00:00        GRAND CANAL DOCK           40
9264             69 2018-08-01 14:00:00        GRAND CANAL DOCK           40
9276             69 2018-08-01 15:00:00        GRAND CANAL DOCK           40
9288             69 2018-08-01 16:00:00        GRAND CANAL DOCK           40
9300             69 2018-08-01 17:00:00        GRAND CANAL DOCK           40
...             ...                 ...                     ...          ...
1933124          98 2018-09-30 19:00:00  FREDERICK STREET SOUTH           40
1933136          98 2018-09-30 20:00:00  FREDERICK STREET SOUTH           40
1933148          98 2018-09-30 21:00:00  FREDERICK STREET SOUTH           40
1933160          98 2018-09-30 22:00:00  FREDERICK STREET SOUTH           40
1933172          98 2018-09-30 23:00:00  FREDERICK STREET SOUTH           40

         AVAILABLE BIKE STANDS  Usage
9252                         0    0.0
9264                         0    0.0
9276                         6   15.0
9288                        14   35.0
9300                        33   82.5
...                        ...    ...
1933124                      3    7.5
1933136                      4   10.0
1933148                      4   10.0
1933160                      7   17.5
1933172                      7   17.5

[4326 rows x 6 columns]

In [86]:
os.makedirs('Desktop/MLfinal', exist_ok=True)  
Newdata.to_csv('Desktop/MLfinal/2018q3.csv')